body{
	background-color:  #788367;
	font-family: arial;
}
td{
	padding: 10px 45px;
}
table{
	margin-left: 100px;	
	margin-right: auto;
	background-color: #5F5A63;
}
.container{
	color: #fff;
}

.generate{
	border-radius: 15px;
	background-color: #E2EAE4;
	color: #5F5A63;
	padding: 7px 12px;
	margin-left: 100px;
	font-size: 14px;
	margin-bottom: 5px;

}
.deleteButton{
		border-radius: 10px;
	background-color: #E2EAE4;
	color: #5F5A63;
	padding: 7px 12px;
		font-size: 14px;

}
