body{
	background-color:  #788367;
	font-family: arial;
}

.outputDiv{
	margin-left: auto;	
	margin-right: auto;
	background-color: #5F5A63;
	color: #E2EAE4;
	width: 700px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 7px;

}
.employeeContainer {
    width: 700px;
}

.generateButton{
	border-radius: 13px;
	background-color: #E2EAE4;
	color: #5F5A63;
	padding: 7px 12px;
	font-size: 14px;
	margin-bottom: 5px;

}
.deleteButton {
    border-radius: 10px;
    background-color: #E2EAE4;
    color: #5F5A63;
    padding: 5px 15px;
    font-size: 14px;
    margin-left: 25px;
    margin-top: -5px;
}
.itemCell{
	float: left;
	padding: 5px 10px;
	margin-left: 10px;
}
.itemCell:nth-child(1){
	width: 200px;
}

.itemCell:nth-child(2){
	width: 140px;
}
.itemCell:nth-child(3){
	width: 140px;
}
.itemCell:nth-child(4){
	width: 140px;
}
.itemRow{
	clear: both;
}